### Imports

In [64]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Functions

In [56]:
# Function to transform and clean the dataframe import from csv
def transform_df(df):
    # Extract the column, delete '[' and ']'. Split the string using ',' and convert to float. Store this data in two
    # columns: longitude and latitude. Add this two columns to the original dataframe
    temp_df = df['geometry.coordinates'].str.strip('[]').str.split(',', expand=True).astype('float64')
    temp_df.columns = ['longitude', 'latitude']
    df= pd.concat([df,temp_df],axis=1)
    
    # Delete column 'geometry.coordinates' and 'Unnamed: 0' columns
    df = df.drop(['Unnamed: 0', 'geometry.coordinates'], axis=1)
    
    # Change the name of 'geometry.type' column becase include '.' in the name, and it could be a potential error
    df = df.rename(columns={'geometry.type':'geometry_type'})
    
    # In case the column names were e.g. 'stationId', extract each column name, if includes 'station', repleace that for 
    # ' '. And change the string to lowercase
    columns = df.columns.tolist()
    new_column_names = [column_name.replace('station', '').lower() for column_name in columns]
    df.columns = new_column_names
    
    return df

### Import and clean bicimap.csv

In [57]:
bicimad_df = pd.read_csv("../data/bicimad_stations.csv", sep='\t')
bicimad_df = transform_df(bicimad_df)
bicimad_df.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,longitude,latitude
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,-3.702587,40.428552

### Import and clean bicipark.csv

In [58]:
bicipark_df = pd.read_csv("../data/bicipark_stations.csv", sep=';')
bicipark_df = transform_df(bicipark_df)
bicipark_df.head()

,id,name,address,city,zip_code,total_places,free_places,enabled,reserved_places,geometry_type,longitude,latitude
0,74,Bicipark Fuente de la Mora,Estación de Fuente de la Mora,Madrid,28050,10,9,1,0,Point,-3.663068,40.484684
1,22,Bicipark Orense,"Avenida General Perón, 27",Madrid,28020,15,9,1,1,Point,-3.693897,40.452973
2,49,Bicipark Montalban,"Calle de Montalbán, 5",Madrid,28014,16,15,1,0,Point,-3.690786,40.418146
3,12,Bicipark Almagro,"Calle Almagro, 11",Madrid,28010,16,12,1,0,Point,-3.692879,40.430361
4,9,Bicipark Recoletos,"Paseo de Recoletos, 2",Madrid,28001,10,3,0,0,Point,-3.692245,40.420354

### Import json

In [61]:
url = 'https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json'
response = requests.get(url)

In [82]:
json_data = response.json()

for i in range(len(json_data["@graph"])):
    #keys_list = list(json_data['@graph'][i].keys())
    for j in range(len(json_data['@graph'][i])):

In [98]:
json_data["@graph"][0]

{'@id': 'https://datos.madrid.es/egob/catalogo/tipo/entidadesyorganismos/176850-colegio-publico-adolfo-suarez.json',
 '@type': 'https://datos.madrid.es/egob/kos/entidadesYorganismos/CentrosEducacion/ColegiosPublicos',
 'id': '176850',
 'title': 'Colegio Público Adolfo Suárez',
 'relation': 'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=bfa48ab43d6bb410VgnVCM100000171f5a0aRCRD&vgnextoid=a9344b6faa61c010VgnVCM1000000b205a0aRCRD',
 'address': {'district': {'@id': 'https://datos.madrid.es/egob/kos/Provincia/Madrid/Municipio/Madrid/Distrito/Hortaleza'},
  'area': {'@id': 'https://datos.madrid.es/egob/kos/Provincia/Madrid/Municipio/Madrid/Distrito/Hortaleza/Barrio/Valdefuentes'},
  'locality': 'MADRID',
  'postal-code': '28050',
  'street-address': 'CALLE INFANTA CATALINA MICAELA 31'},
 'location': {'latitude': 40.48860266655876, 'longitude': -3.6525544243312855},
 'organization': {'organization-desc': '\xa0ENSEÑANZAS: Segundo ciclo de E. Infantil - Primaria - Educación Secundaria Obligatoria\xa0BUS: 174',
  'accesibility': '0',
  'schedule': '',
  'services': 'Comedor - Horario ampliado - Planes de mejora.',
  'organization-name': 'Colegio Público Adolfo Suárez'}}

In [95]:
test = list(json_data['@graph'][0].keys())
test[0]

'@id'

In [94]:
json_data['@graph'][0].keys()

dict_keys(['@id', '@type', 'id', 'title', 'relation', 'address', 'location', 'organization'])

In [97]:
len(json_data['@graph'][0])

8