## Imports

In [ ]:
#pip install geopandas

In [189]:
import pandas as pd
import requests
import geopandas as gpd
from shapely.geometry import Point
import argparse

In [192]:
# Function argparser
def argument_parser():
    # Create ArgumentParser with the app description
    parser = argparse.ArgumentParser(description = 'This app find the BiciMAD/BiciPARK station closest to a set of public\
    schools')
    # Create message to help to the users
    help_message = 'You have two options:\
    \n(1) str="All": to get the table for every "Place of interest" included in the dataset (or a set of them).\
    \n(2) str=school_name: to get the table for a specific "public school" imputed by the user.'  
    # Use '-p' as a flag to select opcion 1 or 2
    parser.add_argument('-p', '--parameter', help=help_message, type=str)
    # Obtain argument
    args = parser.parse_args()
    return args

## Functions

#### Cleaning functions

In [3]:
# FUNCTION 'transform_df'
def transform_df(df):
    # Function to transform and clean the dataframe import from csv.
    
    # Extract the column, delete '[' and ']'. Split the string using ',' and convert to float. Store this data in two
    # columns: longitude and latitude. Add this two columns to the original dataframe
    temp_df = df['geometry.coordinates'].str.strip('[]').str.split(',', expand=True).astype('float64')
    temp_df.columns = ['longitude', 'latitude']
    df= pd.concat([df,temp_df],axis=1)
    
    # Delete column 'geometry.coordinates' and 'Unnamed: 0' columns
    df = df.drop(['Unnamed: 0', 'geometry.coordinates'], axis=1)
    
    # Change the name of 'geometry.type' column becase include '.' in the name, and it could be a potential error
    df = df.rename(columns={'geometry.type':'geometry_type'})
    
    # In case the column names were e.g. 'stationId', extract each column name, if includes 'station', repleace that for 
    # ' '. And change the string to lowercase
    columns = df.columns.tolist()
    new_column_names = [column_name.replace('station', '').lower() for column_name in columns]
    df.columns = new_column_names
    
    return df


# FUNCTION 'extract_dict2df'
def extract_dict2df(df):
    # Function to extract the dictionaries that are included in the cells of some of the columns. Create a new column for each 
    # key and store in it the corresponding values. Finally delete the original columns where the dictionaries are located.
    # With this function it is possible to extract the dictionaries that are in different columns, regardless of the number of 
    # columns that have dictionaries or the number of items in each of them.
    
    column_names = df.columns.values   # Store the column names in a list called 'column_names'

    # In this loop, iterate over the columns of the DataFrame
    for col_name in column_names:
        # Check if the first cell type is a dictionary and, in this case, check if it includes more than 1 items
        if isinstance(df.at[0, col_name], dict) and len(df.at[0, col_name])>1:
            # Extract the keys from the first dictionary found. Use '.at' to get a single value from the DataFrame.
            keys = list(df.at[0, col_name].keys())
 
            # Iterar sobre las claves y agregar nuevas columnas al DataFrame
            for key in keys:
                new_col_name = f"{col_name}_{key}"  # Nombre de la nueva columna
                df[new_col_name] = df[col_name].apply(lambda x: x.get(key))

            # Delete the previous column with the dictionaries inside each cell
            df = df.drop(columns=[col_name])
        
    return df

#### Geo-calculation functions

In [4]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair points in degrees 
    # (e.g.: Start Point -> 40.4400607 / -3.6425358 End Point -> 40.4234825 / -3.6292625)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

## Acquisition and wrangling: import, clean and prepare data

#### Import and clean bicimap.csv

In [135]:
# Read the csv and store the data in a dataframe
bicimad_df = pd.read_csv("../data/bicimad_stations.csv", sep='\t')
# Clean and transform the dataframe
bicimad_df = transform_df(bicimad_df)
# Remove the number (e.g. '1a - , 1b - ....') from the name of each bicimap station
bicimad_df['name'] = bicimad_df['name'].apply(lambda row: row.split(' - ')[1])
bicimad_df.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,longitude,latitude
0,1,Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,-3.701834,40.417214
1,2,Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,-3.701603,40.417313
2,3,Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,-3.705842,40.420589
3,4,Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,-3.706917,40.430294
4,5,Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,-3.702587,40.428552

#### Import and clean bicipark.csv

In [138]:
# Read the csv and store the data in a dataframe
bicipark_df = pd.read_csv("../data/bicipark_stations.csv", sep=';')
# Clean and transform the dataframe
bicipark_df = transform_df(bicipark_df)
# Remove the string 'bicipark ' from the name of each bicipark station
bicipark_df['name'] = bicipark_df['name'].apply(lambda row: row.split('Bicipark ')[1])
bicipark_df.head()

,id,name,address,city,zip_code,total_places,free_places,enabled,reserved_places,geometry_type,longitude,latitude
0,74,Fuente de la Mora,Estación de Fuente de la Mora,Madrid,28050,10,9,1,0,Point,-3.663068,40.484684
1,22,Orense,"Avenida General Perón, 27",Madrid,28020,15,9,1,1,Point,-3.693897,40.452973
2,49,Montalban,"Calle de Montalbán, 5",Madrid,28014,16,15,1,0,Point,-3.690786,40.418146
3,12,Almagro,"Calle Almagro, 11",Madrid,28010,16,12,1,0,Point,-3.692879,40.430361
4,9,Recoletos,"Paseo de Recoletos, 2",Madrid,28001,10,3,0,0,Point,-3.692245,40.420354

#### Fix and prepare biciMAD and BiciPark dataframes

In [155]:
# Create a new dataframe with columns that these will be use in the final app. 
# Extract some columns from bicimad.df in a new dataframe
new_column_names = {'name': 'station_name', 'address': 'station_location', 'latitude': 'latitude', 'longitude': 'longitude'}
bicimad_stations_df = bicimad_df[list(new_column_names.keys())].rename(columns=new_column_names)
bicimad_stations_df['station_type'] = 'BiciMAD'
bicimad_stations_df.head()

,station_name,station_location,latitude,longitude,station_type
0,Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834,BiciMAD
1,Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603,BiciMAD
2,Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842,BiciMAD
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917,BiciMAD
4,Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587,BiciMAD

In [156]:
# Extract some columns from bicipark.df in a new dataframe
new_column_names = {'name': 'station_name', 'address': 'station_location', 'latitude': 'latitude', 'longitude': 'longitude'}
bicipark_stations_df = bicipark_df[list(new_column_names.keys())].rename(columns=new_column_names)
bicipark_stations_df['station_type'] = 'BiciPARK'
bicipark_stations_df.head()

,station_name,station_location,latitude,longitude,station_type
0,Fuente de la Mora,Estación de Fuente de la Mora,40.484684,-3.663068,BiciPARK
1,Orense,"Avenida General Perón, 27",40.452973,-3.693897,BiciPARK
2,Montalban,"Calle de Montalbán, 5",40.418146,-3.690786,BiciPARK
3,Almagro,"Calle Almagro, 11",40.430361,-3.692879,BiciPARK
4,Recoletos,"Paseo de Recoletos, 2",40.420354,-3.692245,BiciPARK

In [157]:
stations_df = pd.concat([bicimad_stations_df, bicipark_stations_df])
stations_df

,station_name,station_location,latitude,longitude,station_type
0,Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834,BiciMAD
1,Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603,BiciMAD
2,Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842,BiciMAD
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917,BiciMAD
4,Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587,BiciMAD
...,...,...,...,...,...
6,Salamanca,Pl. del Marqués de Salamanca,40.430315,-3.679172,BiciPARK
7,Villa de Paris,"Calle de Orellana, 23, 21",40.425608,-3.693698,BiciPARK
8,Pitis,"Calle Pau Arroyo del Fresno, 181",40.495942,-3.724914,BiciPARK
9,Aviación,Parking Aviación Española,40.383492,-3.783695,BiciPARK
10,Canalejas,-,40.417808,-3.699451,BiciPARK

#### Import and clean json

In [7]:
url = 'https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json'
response = requests.get(url)

In [159]:
# Obtain json data
json_data = response.json()

# The dictionary has two keys: '@context' and '@graph'. And the interesting data are in the value of the second key where
# other dictionaries are included. Extract both keys in a list called 'keys' -> json_data["@graph"] = json_data[keys[1]]
keys=list(json_data.keys())

# Create the dataframe with the data stored in '@graph'. This way, if the name of the dictionary change, it will still work.
public_schools_df = pd.DataFrame(json_data[keys[1]])

# Use the 'extract_dict2df' function to extract the diccionaries included in some columns and create new columns with them.
public_schools_df = extract_dict2df(public_schools_df) 
#public_schoolss_df.head()

In [158]:
# Extract some columns from bicipark.df in a new dataframe
new_column_names = {'title': 'school_name', 'address_street-address': 'school_location', 
                    'location_latitude': 'latitude', 'location_longitude': 'longitude'}
schools_df = public_schools_df[list(new_column_names.keys())].rename(columns=new_column_names)
schools_df['place_type'] = 'Colegios públicos'
schools_df.head()

,school_name,school_location,latitude,longitude,place_type
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios públicos
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegios públicos
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegios públicos
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegios públicos

## Analysis: calculations

#### Geo-calculation

In [170]:
%%time

# Use a dataframe fragment to test the code
schools_test = schools_df.iloc[0:2]
bicimad_test = stations_df.iloc[0:10]
# Filter the dataframe and extract only the rows related to bicimad
#bicimad_test = stations_df.loc[stations_df['station_type'] == 'BiciMAD'].iloc[0:10]

# Merge public schools and bicimad/bicipark dataframe. Before the merge, create a new column called 'key' which value will
# be '1'. Merge using this column and use drop to remove this column in the merged dataframe. This new dataframe will be 
# a dataframe in which 
merge_df = pd.merge(schools_test.assign(key=1), bicimad_test.assign(key=1), on='key').drop('key', axis=1)
# Obtain the distance
merge_df['distance'] = merge_df.apply(lambda row: distance_meters(row['latitude_x'], row['longitude_x'],
                                                             row['latitude_y'], row['longitude_y']), axis=1)
merge_df.head()

CPU times: total: 266 ms
Wall time: 269 ms

,school_name,school_location,latitude_x,longitude_x,place_type,station_name,station_location,latitude_y,longitude_y,station_type,distance
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834,BiciMAD,9662.955979
1,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603,BiciMAD,9639.233455
2,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842,BiciMAD,9625.864502
3,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917,BiciMAD,8882.890473
4,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587,BiciMAD,8708.347297

In [186]:
# Short the dataframe for each school from minimum to maximum of the distance from each station to the school that 
# corresponds to it. Reset index and remove the new column index created
merge_short_df = merge_df.sort_values(by=['school_name', 'distance']).reset_index().drop('index', axis=1)
# To extract only the biciMAD items, it's neccesary to apply a filter
bicimad_filter = merge_short_df['station_type'] == 'BiciMAD'
# Obtain the resulting dataframe with the school and bicimad station with minimum distance. As the dataframe is already 
# sorted, with the distance values from smallest to largest, only the first value for each school needs to be extracted. 
# To do this, it's neccesary to apply the filter calculated above.
minimum_df = merge_short_df[bicimad_filter].groupby('school_name').head(1)
minimum_df

,school_name,school_location,latitude_x,longitude_x,place_type,station_name,station_location,latitude_y,longitude_y,station_type,distance
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios públicos,Alonso Martínez,Plaza de Alonso Martínez nº 5,40.427868,-3.695440,BiciMAD,8282.242718
10,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios públicos,Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603,BiciMAD,6876.582951

In [188]:
# Change column names and select the desired columns to adapt the result to the objective
# Create a dictionary with the old and new column names
new_columns_names = {'school_name': 'Place of interest',
                     'place_type': 'Type of place',
                     'school_location': 'Place address',
                     'station_name': 'BiciMAD station',
                     'station_location': 'Station location'}
# Extract the interested columns and rename them.
result_df = minimum_df[list(new_columns_names.keys())].rename(columns=new_columns_names)
result_df

,Place of interest,Type of place,Place address,BiciMAD station,Station location
0,Colegio Público Adolfo Suárez,Colegios públicos,CALLE INFANTA CATALINA MICAELA 31,Alonso Martínez,Plaza de Alonso Martínez nº 5
10,Colegio Público Agustina Díez,Colegios públicos,CALLE VESUBIO 5,Puerta del Sol B,Puerta del Sol nº 1

## Store the data

In [ ]:
# Store the results in a new '.csv' file
result_df.to_csv('result.csv')